.container
  .col-md-12
    %h1 Editing Ad
    %hr

    = render 'form'
  
  .col-md-12
    #other_form_buttons
      = link_to 'Show', ad_path(@ad), class: "btn btn-success"
      \|
      = link_to 'Back', ads_path, class: "btn btn-success"
